.logo {
	background-image:url(../images/logo4.png);
}
a, a:hover, a > *:hover, h2 span, h3 span, ul.catagoly a:hover ,
.navbar .nav .active > a  [class^="icon-"]:before ,
.navbar .nav .active > a  [class*="icon-"]:before,
.navbar .nav .active > a:hover  [class^="icon-"]:before ,
.navbar .nav .active > a:hover  [class*="icon-"]:before ,
.navbar .nav > li > a:hover   [class^="icon-"]:before ,
.navbar .nav > li > a:hover    [class*="icon-"]:before ,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle ,
.nav > li > a:hover,
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav > li > a:hover  {
	color:#3cc0b7;
}
.carousel_header {
	color:#333;
}

::-moz-selection{
 background-color:#3cc0b7;
}
::selection{
 background-color:#3cc0b7;
}
		
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu li.open,
.open > .dropdown-menu .active,
.btn,
.tag-cloud a,
.pricing_table .pricing_column.selected li.pricing_header2,
.progress .bar,
.carousel_box li div a{
 background-color:#3cc0b7;
 color: #FFF !important;
}
.btn:active, .btn.active, .btn:hover, .tag-cloud a:hover {
	background-color:#3c3c3c;
}
.pricing_table .pricing_column.selected li.pricing_header1 {
	background-color:#01afa3;
}
.section-title, .section-title h1.title a, .slides, .dropdown-menu li:hover {
	border-color:#3cc0b7;
}
.btn{
	border-color:#01afa3;
	}
.carousel_box li .info:before {
	border-left: 30px solid #3cc0b7;
}
#map_canvas {
	border-bottom-color:#3cc0b7;
}
.project-feed div.mask {
	background:#3cc0b7;
	background:rgba(60, 192, 183, 1);
}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active {
	background-image:none;
	background-color:#3cc0b7;
}
